* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #dae4dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    text-align: center;
}


h1 {
    position: absolute;
    top: 0; /* Coloca o título no topo da página */
    left: 50%; /* Posiciona o título a 50% da largura da página */
    transform: translateX(-50%); /* Centraliza o texto horizontalmente */
    margin-top: 50px; /* Espaço entre o topo da página e o título */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #5aa16e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.btn:hover {
    background-color: #5aa16e; 
}

#caixaResultado {
    width: 150px;  /* Largura da caixa */
    height: 50px;  /* Altura da caixa */
    background-color: #fff;  /* Cor de fundo */
    border: 1px solid #ccc;  /* Borda para destacar a caixa */
    text-align: center;  /* Centralizar o texto dentro da caixa */
    line-height: 50px;  /* Centralizar verticalmente */
    font-size: 1.5em;  /* Tamanho da fonte */
    border-radius: 5px;  /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Sombra para destacar a caixa */
    margin-bottom: 10px;  /* Espaço entre o título e a caixa de resultado */
}

.resultado-titulo {
    display: block;  /* Garante que o título ocupe toda a linha */
    margin-bottom: 0;  /* Remover qualquer margem inferior */
    font-weight: bold;  /* Deixar o texto em negrito */
    font-size: 1.2em;  /* Tamanho da fonte */
    margin-top: 20px;  /* Espaço superior entre outros elementos e o título */
}

input{
    text-align: center;
}

output{
    text-align: center;

}

#mensagemResultado {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center; /* Centraliza o texto da avaliação */
    margin-bottom: 10px;  /* Espaço acima da mensagem */
    display: block;  /* Garante que a mensagem fique abaixo */
}

/* Mensagens coloridas */
.mensagem-excelente {
    color: green;
}

.mensagem-melhorias {
    color: red;
}

.mensagem-satisfatoria {
    color: yellow;
}
