/* Estilos Globais */
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #dae4dd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    text-align: center;
    padding: 20px;
    flex-direction: column; 
}

h1 {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    word-wrap: break-word;
    width: 100%; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}


.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #5aa16e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.btn:hover {
    background-color: #4d8c5c; 
}

#caixaResultado {
    width: 150px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: inline-block;
}

.resultado-titulo {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

#mensagemResultado {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

/* Mensagens coloridas */
.mensagem-excelente {
    color: green;
}

.mensagem-melhorias {
    color: red;
}

.mensagem-satisfatoria {
    color: orange;
}


@media (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .form-group label {
        font-size: 1em;
    }

    .btn-group {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
    }

    #caixaResultado {
        width: 100%;
        font-size: 1.2em;
        height: 40px;
        line-height: 40px;
    }

    #mensagemResultado {
        font-size: 1em;
    }
}
